*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #009688;
  --clr-bg-trans: rgb(0, 150, 136, 0.05);
  --clr-dark-green: #009688;
  --clr-text: #6c757d;
  --clr-dark: #0c0e36;
  --clr-header: #fff;
  --clr-light: #e5e5e5;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --grid: auto auto auto auto;
  --footer-grid: auto auto auto;
}
body {
  font-family: Nunito, sans-serif;
  /* color: var(--clr-text); */
}
.main {
  margin: auto;
  padding: auto;
}
header {
  background-color: var(--clr-header);
  text-align: center;
}
.container-fluid {
	margin:0 !important;
	padding: 0px !important;
}
.jumbotron {
  display: flex;
  margin: auto;
  padding: 5%;
  /* width: 70%; */
}
.blog_list {
  display: flex;
  flex-wrap: wrap;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.075rem;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}
.navbar-nav a {
  font-family: inherit;
  color: var(--clr-text);
}
.navbar-nav a:hover {
  color: var(--clr-dark-green);
}
.nav-item a {
  font-family: inherit;
  color: var(--clr-text);
  font-weight: var(--fw-bold);
}
.nav-item a:hover {
  color: var(--clr-dark-green);
}
.button-link {
  text-decoration: none;
  color: var(--clr-header);
  font-weight: inherit;
  font-size: 1.2rem;
}
.nav_link,
.blog_link {
  text-decoration: none;
  color: inherit;
}
.footer_list,
.blog_list {
  margin: 1rem;
  padding: 0;
  list-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  justify-content: space-between;
}
.footer_link {
  text-decoration: none;
  color: inherit;
}
.header_text {
  color: var(--clr-primary);
}
.header-sub_text {
  color: var(--clr-text);
  font-size: 1.2rem;
}
.header_icon {
  margin-left: 11.875rem;
}
div {
  margin: 2em;
}
h1 {
  font-weight: bold;
}
.simple {
  display: inline-block;
  text-align: center;
  background-color: var(--clr-header);
  font-size: 1.1rem;
}
section h1 {
  font-size: 1.6rem;
}
.bottom-section {
  display: flex;
}
section h2 {
  font-size: 1.2rem;
}
.bottom-section_text {
  font-size: 1rem;
}
.highlight_text {
  color: var(--clr-dark-green);
}
.logo {
  position: static;
  margin: 1rem;
  width: 10rem;
}
.footer {
  position: static;
}
.button {
  border-color: var(--clr-dark-green);
  background-color: var(--clr-dark-green);
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  margin: 0;
  color: var(--clr-light);
  align-items: center;
}
.latest_section {
  padding: 10%;
}

.blog_card {
  width: 200px;
}
.blog_image {
  width: 100%;
}

.offer {
  background-color: #EFF7F9;
  position: relative;
  margin: 0 auto;
}
.icon-abs-1 {
    position: absolute;
    left: 32%;
    top: 5%;
    transform: rotate(13.94deg);
  }
  .icon-abs-2 {
    position: absolute;
    right: 10%;
    top: 5%;
    transform: rotate(-19deg);
  }
  .icon-abs-3 {
    position: absolute;
    left: 28%;
    bottom: 35%;
    transform: rotate(-19deg);
  }
  .icon-abs-4 {
    position: absolute;
    right: 30%;
    bottom: 10%;
    transform: rotate(19deg);
  }
  .offer-container {
    display: flex;
    flex-direction: row;
  }
  .offer-title-container,
  .offer-card-container-1,
  .offer-card-container-2 {
    width: 33%;
  }
  .offer-title-container {
    padding-top: 10rem;
  }
    .offer-title {
      color: var(--clr-dark-green);
      font-size: 1.8rem;
      margin: 0;
    }
    .offer-subtitle {
      color: var(--clr-text);
      font-size: 1.1rem;
    }

  .offer-card-container-1,
  .offer-card-container-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .offer-card-container-1 {
    padding: 4rem 0 12rem;
  }
  .offer-card-container-2 {
    padding: 12rem 0;
  }
  .offer-card1 {
    width: 18rem;
    background-color: var(--clr-dark-green);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 1.3rem 1.5rem;
    margin: 0 0 3.2rem;
    border-radius: 5px;
  }
    .offer-card-title1 {
      font-size: 1.6rem;
      color: #f9fbfc;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .offer-card-subtitle1 {
      font-size: 1.1rem;
      color: #f9fbfc;
    }

  .banner-button {
    padding: 0.8rem 2.2rem;
    border-radius: 5px;
    background-color: var(--clr-dark-green);
    color: white;
    border: 0;
    font-size: 1.1rem !important;
  }

@media screen and (max-width: 1024px) {
    .offer-title-container,
    .offer-card-container-1,
    .offer-card-container-2 {
      width: 50%;
    }
  }

@media screen and (max-width: 860px) {
    .offer-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    .offer-title-container {
      width: 100%;
      padding-top: 9rem;
    }
    .offer-card-container-1 {
      align-items: flex-start;
    }
  }

@media screen and (max-width: 780px) {
    .offer-container {
      flex-direction: column;
    }
    .offer-card-container-1 {
      width: 100%;
      align-items: center;
      padding: 3.2rem 0;
    }
    .offer-card-container-2 {
      width: 100%;
      align-items: center;
      padding: 0 0 9rem;
    }
    .offer-card1 {
      width: 100%;
    }
    .offer-card1:last-child {
      margin-bottom: 0rem;
    }
  }

@media screen and (max-width: 580px) {
    .offer-title-container {
      padding-top: 6rem;
    }
    .offer-card-container-2 {
      padding-bottom: 6rem;
    }

    .icon-abs-1,
    .icon-abs-2,
    .icon-abs-3,
    .icon-abs-4 {
      display: none;
    }
  }

@media (min-width: 700px) {
  header {
    display: grid;
    grid-template-columns: var(--grid);
  }
  footer {
    display: grid;
    grid-template-columns: var(--footer-grid);
  }
  .copyright {
    grid-column: 1/3;
    justify-self: center;
    padding: auto;
  }
  .logo,
  .nav,
  .button {
    grid-row: 1;
  }

  .logo {
    grid-column: 1;
  }
  .nav {
    grid-column: 2/4;
    margin-top: 1em;
  }
  .button {
    grid-column: -1;
    justify-self: end;
  }
}

.cta-text {
  color: var(--clr-dark-green);
}

.cta1__wrapper__header h1 {
  color: var(--clr-dark-green);
}

.cta1 {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("images/cta1-2.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cta1__wrapper {
    padding: 25px 70px;
  }
  .cta1__wrapper > .content {
    width: 50%;
  }
  .cta1__wrapper > .content > .cta1__wrapper__header {
    max-width: 552px;
    min-width: 500px;
    margin: 0 !important;
  }
  .cta1__wrapper > .content > .cta1__wrapper__header > h1 {
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: #31b5a7;
    margin-bottom: 8px;
  }

  .cta1__wrapper > .content > .cta1__wrapper__header > p {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #393a4a;
    margin-bottom: 24px;
  }
  .cta1__form {
    background-color: #fff;
    max-width: 456px;
    padding: 24px;
  }

  .ref-form {
    color: var(--clr-dark-green);
    font-size: 1.5rem;
    font-weight: bold;
  }
  .cta1__form,
  .form-input-group {
      margin-top: 16px;
    }

    .form-input {
      padding: 10px 8px;
      width: 100%;
      background: #fafbfc;
      border: 2px solid #dfe1e6;
      border-radius: 3px;
    }
    .form-input-group > .form-input::placeholder {
      font-family: "SF Pro Text";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
    }
    .form-input-button {
      background: var(--clr-dark-green);
      color: white;
      padding: 10px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
      border: none;
    }
    .form-input-group > .form-input.referral-btn {
      background-color:  var(--clr-dark-green);
      border-radius: 3px;
      color: var(--clr-light);
      padding: 10px;
      font-family: "SF Pro Text";
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
      border: none;
    }
    .form-input-group > .form-input.referral-btn.enabled {
      background: #31b5a7;
      color: white;
    }

  .how-it-works {
    width: 100%;
    padding: 88px 155px;
  }
  .how-it-works > h3 {
    font-family: inherit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #31b5a7;
  }

  .how-it-works__section {
    display: flex;
    justify-content: space-between;
  }
  .how-it-works__card {
    width: 33%;
    margin-top: 24px;
    margin-right: 24px;
  }
  .how-it-works__card:last-child {
    margin-right: 0px;
  }
  .how-it-works__image {
    width: 100%;
  }
  .how-it-works__image img {
    width: inherit;
  }
  .how-it-works__body {
    padding: 0 20px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  /* docs section */
  .docs {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("images/docs-image.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .docs-bg {
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: -1;
  }
  .docs__wrapper {
    display: flex;
    padding: 104px 156px;
    /* align-items: stretch; */
  }
  .docs__wrapper > div {
    width: 50%;
  }
  .docs__body {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .docs__body > h3 {
    font-family: inherit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    padding-bottom: 8px;
    color: #31b5a7;
  }
  .docs__body > p {
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #393a4a;
    margin-bottom: 14px;
  }
  .docs__body > a {
    color: #31b5a7;
    font-family: "SF Pro Text";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
  }
  .docs__image {
    width: 100%;
    height: 255px;
  }
  .docs__image > img {
    width: 100%;
    height: inherit;
  }

  /* cta2 */
  .cta2 {
    width: 100%;
    padding: 104px 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("images/refer-background.svg");
  }
    .cta2__image {
      height: 260px;
      width: 357px;
    }
    .cta2__body {
      text-align: center;
      margin-top: 23px; 
    }
    .cta2__body h3 {
        font-family: inherit;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        color: #31b5a7;
        margin-bottom: 4px;
      }
    .cta2__body p {
        font-family: inherit;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #393a4a;
      }
    
    .team_hero {
        text-align: center;
    }
    .partner-title {
      color: var(--clr-dark-green);
    }
    .hero-sub-text {
        font-size: 1.5rem;
        margin-top: 10px;
        color: var(--clr-text);
    }
    
    .team-members {
      width: 100%;
      margin: 0 auto;
    }
      .team_member {
        text-align: center;
      }
      .team_member img {
        width: 100%;
        border-radius: 50% !important;
      }
      .team_member p {
        letter-spacing: -0.01em;
        font-size: 1.5rem;
        color: var(--clr-text);
      }
      .team_member h2 {
        letter-spacing: -0.01em;
        font-size: 1.1rem;
        color: var(--clr-text);
        font-weight: bold;
      }
    
    @media (max-width: 968.98px) {
        .team_hero {
          padding: 100px 50px;
          text-align: center;
        }
      }
    @media screen and (max-width: 575.98px) {
      .px {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
      }
        .team_hero {
          padding: 100px 10px;
          text-align: center;
        }
          .team_hero h1 {
            font-size: 2.3rem;
            font-weight: bold;
            color: var(--clr-dark-green);
            border: 1px solid #000;
          }
          .team_hero p {
            border: 1px solid #000;
            font-size: 1.3rem;
            margin-top: 10px;
            color: var(--clr-text);
          }
        }

          .px {
            padding-left: 2rem;
            padding-right: 2rem;
          }
        
          .schedule-container {
            background-color: #31b5a7;
            padding: 2rem 3rem;
            border-radius: 5px;
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
          }
          .schedule-title {
            font-size: 2rem;
            color: white;
            margin: 1rem 0;
            font-weight: 800;
          }
          .schedule-text {
            font-size: 1.1rem;
            color: white;
            font-weight: normal;
            font-style: normal;
          }
          .action__btn {
            align-items: center;
            text-align: center;

          }
          .mt-4 {
            margin-top: 1.0rem;
            justify-self: flex-end;
          }
          /* .banner-button {
            padding: 1rem;
            background-color: var(--clr-dark-green);
            color: white;
            border: 0;
            font-size: 2rem;
            border-radius: 5px;
          } */
        
        @media screen and (max-width: 575.98px) {
            .px {
              padding-left: 2.4rem;
              padding-right: 2.4rem;
            }
            .schedule-container {
              padding: 2.8rem 0;
              gap: 5rem;
            }
            .schedule-title {
              font-size: 2.4rem;
            }
            .tall {
              text-align: center;
            }
            .mt-4 {
              margin-top: 1.4rem;
              justify-self: center;
            }
          }
        